In [1]:
import pandas as pd
import numpy as np

In [2]:
with open("C:\\Users\\vlad\Desktop\\Контроль задолженности ИП Акулова.xlsx", 'rb') as f:
    book = pd.read_excel(f)

In [3]:
book.values

array([['За проданный товар на счет ООО "Термотехника"', 113052.64],
       ['Долг за фильтра на счет Термотехники 2', 135832.9],
       ['Оплата за транспортные услуги автопарка', 0.0],
       ['Амортизация ОС в пав.№13 и пав.№23', 2632.87],
       ['Долг КПР за товар', 45585.75],
       ['Итого:', 251518.40999999997]], dtype=object)

In [4]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Статья  6 non-null      object
 1   Сумма   6 non-null      float64
dtypes: float64(1), object(1)
memory usage: 136.0+ bytes

In [9]:
book.cumsum(axis=0)

                                              Статья      Сумма
0      За проданный товар на счет ООО "Термотехника"  113052.64
1  За проданный товар на счет ООО "Термотехника"Д...  248885.54
2  За проданный товар на счет ООО "Термотехника"Д...  248885.54
3  За проданный товар на счет ООО "Термотехника"Д...  251518.41
4  За проданный товар на счет ООО "Термотехника"Д...  297104.16
5  За проданный товар на счет ООО "Термотехника"Д...  548622.57

In [37]:
summa = book.loc[:4,"Сумма"]

In [39]:
np.sum(summa)

297104.16